body{
   font-size: 100%;
}
.sec-label{
    // text-align: center;
    font-size:0.9125rem;
    margin-bottom:0.333rem;
    font-weight: 100;
}
.banner-para{
    text-align: center;
    color:$secondary;
    margin: 0.167rem 0 0.417rem;
 
}
.banner-titile{
    color:$secondary;
    margin-top:1em;
  
    
}
.sub-subtitle{
    letter-spacing: 0px;
    display: none;
    @media only screen and (min-width: 991px) {
        display: block;
       
    }

}
.tech{
    padding:1.1rem 0rem 1.375rem;

}
.sec-head{
    font-weight: 700;
}
.sub-heading{
    padding:1.6875rem 0px 1.375rem;
}

.card-title{
    text-align: left;
}
.about-pp{
    .card-title{
        margin:0.9375rem 0;
        width: 70%;
    }
}
strong{
    color: black;
    font-weight: 300;

}
.cta-title, .cta-subtitle{
 letter-spacing: normal;
 color:#363636;
 margin-bottom: 0;
}
.alternate{
    color:#000000;
    font-weight: 100;
    margin-top:2.5rem;
}
footer li{    
    list-style-type: none;
    padding-bottom: 0.3125rem;
    letter-spacing: 0.0625rem;
    a{
        font-weight: 300;
    }
}
footer ul{
    font-size:0.8125rem;
    padding-top:0.8125rem;
    padding-left: 0px;
  
}
.footer-title,.copyright{
    padding:20px 0px; 
    font-size: 0.9375rem;
    font-weight: 500;
    width:65%;
    margin-bottom: 0px;
}

.copyright {
    font-weight:100;
    font-size: 0.625rem;
    padding-right: 0;
    width:auto;
}
.mobilecopy{
    padding-left: 1.1rem;
    @media only screen and (min-width: 991px) {
        display: none;
    }
}
.desktopcopy{
    @media only screen and (max-width: 991px) {
        display: none;
    }
}

