
html{
font-size: 86%;

}body{
    margin:0;
    padding:0px;
  
}
section{
    margin:0px auto;
    width:960px;
    text-align: center;
   
} 
.blue-bg{
  background-image: url("../../img/bg-blue.jpg");
  background-size:cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height:auto;
  @media only screen and (min-width: 991px){
  
    height:100vh;
  }
  
}
.sec-top{
  padding-top: 74px;
  padding-bottom: 37px;
}
.cta{
  background-color: $secondary;
  padding-top: 20px;
  padding-bottom: 80px;
  background-image: url("../../04-Assets/00-Homepage/Images/07-motif-footer.png") ;
  background-repeat: no-repeat;
  background-position:center right;
  background-position-y: 20px;
   background-attachment:local;
   margin-top:113px;
   @media screen and (max-width:991px){
     background-image:none; 
   }
   
 
}


.clients .row{
  margin:0px;
}
.width-para-1{
  width: 375px;
  margin: 0px auto;
  margin-bottom: 1.6875rem;
  @media screen and (max-width:991px){
    display: none;
  }
}
.width-para-2{
  width:436px;
  margin-bottom: 2.25rem;
  @media screen and (max-width:991px){
    display: none;
  }
  
}
.space-nav{
  padding: 3.125rem 10.06rem  2.375rem 2.375rem;
  @media screen and (max-width:991px) {
    padding:1.25rem;
  }
}
.about-pp{
  padding:10px;
}