
.banner-section{
    padding:55px 35px 150px;
    text-align: center;
    @media only screen and (min-width: 991px){
        margin: 0px auto;
        width: 960px;
        padding: 17px 21px 125px;

    }
}